* {
    box-sizing: border-box;
    font-family: Arial;
}

.main {
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 700px;
    border: 1px solid #000000;
}

.tetris {
    width: 500px;
    height: 900px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background-color: #ffffff;
}

.excel {
    width: 50px;
    height: 50px;
    border: 1px dotted #cccccc;
}

/* .figure, .set {
    background-color: #1e488c;
} */

input {
    display: block;
    margin: 30px auto;
    font-size: 30px;
    padding: 10px;
}

.controls {
    padding: 20px;
    position: absolute;
    top: 200px;
    right: 200px;
}

.modal {
    position: fixed;
    text-transform: uppercase;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

.button {
    border: 2px solid #1e488c;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 0;
    cursor: pointer;
    font-size: 25px;
    transition: all .3s;
}

.button:hover {
    border-radius: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #1e488c;
}

.color1 {
    background-color: #5aa0ce;
}

.color2 {
    background-color: #38c650;
}

.color3 {
    background-color: #73b8d6;
}

.color4 {
    background-color: #e3eb48;
}

.color5 {
    background-color: #9a49eb;
}

.color6 {
    background-color: #b2eb49;
}

.color7 {
    background-color: #f5b934;
}

.color8 {
    background-color: #e066a8;
}